<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @message.child.first_name %>
</p>

<p>
  <strong>To:</strong>
  <%= @message.friendship.friend_name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.data %>
</p>

<p>
  <strong>Parent approval:</strong>
  <%= @message.parent_approval %>
</p>

<p>
  <strong>Friend parent approval:</strong>
  <%= @message.friend_parent_approval %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @message.expiry_date %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', current_child %>
