<p id="notice"><%= notice %></p>

<h1>
  <%= @child.first_name %>'s Fort!


<h3>Friends</h3>
<ul>
  <% for friendship in @child.friendships %>
      <li>
        <%= friendship.friend.first_name %>
      </li>
  <% end %>
</ul>

<%= link_to "Add Friend", new_friendship_path %>



<h3>Sent Messages</h3>
<ul>
  <% for message in @child.messages %>
      <li>
        <b>To:</b> <%= message.friendship.friend_name %>,
        <b>Message:</b> <%= message.data %>   <br/><br/>
      </li>
  <% end %>
</ul>
<%= link_to "Send Message", new_message_path %>

<h3>Received Messages</h3>
<ul>
  <% for message in @child.received_messages %>
      <li>
        To: <%= message.friendship.friend_name %><br/>Message: <%= message.data %>
      </li>
  <% end %>
</ul>
