<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @child.first_name %>
</p>


<h2>Friends</h2>
<ul>
  <% for friendship in @child.friendships %>
      <li>
        <%= friendship.friend.first_name %>
      </li>
  <% end %>
</ul>

<%= link_to "Add Friend", new_friendship_path %>



<h2>Sent Messages</h2>
<ul>
  <% for message in @child.messages %>
      <li>
        To: <%= message.friendship.friend_name %> Message: <%= message.data %>
      </li>
  <% end %>
</ul>
<%= link_to "Send Message", new_message_path %>

<h2>Received Messages</h2>
<ul>
  <% for message in @child.received_messages %>
      <li>
        To: <%= message.friendship.friend_name %> Message: <%= message.data %>
      </li>
  <% end %>
</ul>
